In [1]:
import pandas as pd
import numpy as np

eicu_time = pd.read_csv("eicu_drug_comp565.csv")
eicu_time.head()

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

   patientunitstayid  hospitalid  drugstartoffset         drugname
0             534765         148            -3328  sodium chloride
1             534765         148            -3282     levofloxacin
2             534765         148            -3199     pantoprazole
3             534765         148            -3198         acetamin
4             534765         148            -3198        lorazepam

In [2]:
eicu_time.groupby(by=["patientunitstayid"]).count().describe()

         hospitalid  drugstartoffset      drugname
count  33916.000000     33916.000000  33916.000000
mean      44.199965        44.199965     44.199965
std       39.544523        39.544523     39.544523
min        1.000000         1.000000      1.000000
25%       18.000000        18.000000     18.000000
50%       34.000000        34.000000     34.000000
75%       58.000000        58.000000     58.000000
max      741.000000       741.000000    741.000000

In [3]:
unique_drugs = eicu_time['drugname'].unique().tolist()
unique_drugs.sort()
print(len(unique_drugs))
# np.save('eicu_drug_names.npy', unique_drugs)

182

In [8]:
eicu_sepsis = pd.read_csv("eicu_sepsis_comp565.csv")
eicu_sepsis.head()

   patientunitstayid  sepsisdiagnosisoffset
0             534765                     85
1             534765                    478
2             534851                     17
3             534851                     21
4             535599                    -13

In [3]:
eicu_ventilator = pd.read_csv("eicu_ventilator_comp565.csv")
eicu_ventilator.head()

   patientunitstayid  ventilatortreatmentoffset
0             534621                        121
1             534765                         85
2             534930                        588
3             535142                        531
4             535142                       1104

In [4]:
eicu_mortality = pd.read_csv("eicu_mortality_comp565.csv")
eicu_mortality.head()

   patientunitstayid  deathoffset
0             535599           67
1             537671        14238
2             538694          401
3             538721         7250
4             539163        18821